*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a{
    
    color: rgb(0, 0, 0);
    text-shadow:  rgb(255, 255, 255) 0.1em 0.1em 0.2em ;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: flex;
    left:23vh;
}

nav{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

body{
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.caixa {
    background: rgb(255, 255, 255);
    margin-top: 5vh;
    margin-left: 60px;
    margin-right: 60px;
    height: 70vh;
    border-radius: 10px;
}

h1, .tenis{
    font-size: 50vh;
    text-align: center;
    position: flex;
}

.tenis{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        height: 80vh;
}

.canto{
    position: absolute;
    top: -1vh;
    height: 30px;
    width: 35px;
    z-index: 100;
 }

 .tenis-zoom{
     height: 20vh;
     position: absolute;
     margin-left: 160vh;
 }